<?xml version="1.0"?>
<model>
  <name>ar_tag</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ibvs_perching</name>
    <email>jakob.domislovic@gmail.com</email>
  </author>
  <description>
    20x20 cm ArUco marker (DICT_4X4_50, id 0) centered on a 30x30 cm white
    plate, lying flat on the floor. Used as the IBVS landing/perching target.
  </description>
</model>
